body {
    background-image: url("../Images/bg-3.jpeg");
      background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .w-45{
    width: 45%;
  }
  .table-color{
    color: transparent;
  }