/* Universal Selector */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* heading fonts */
.headfonts {
  font-family: "Encode Sans SC", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: rgb(218, 216, 216);
}

/* paragraph fonts */
.parafonts {
  font-family: "Nunito", sans-serif;
  color: rgb(218, 216, 216);
  font-weight: 500;
}

/* body selector */
body {
  width:auto;
  height:max-content;
  background: url("../Images/bg-2.jpeg") no-repeat center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-color: rgba(0, 0, 0, 0.801);

  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

/* wrapper id */
#wrapper {
  width: 100%;
  /* height: auto; */
  background-color: rgba(0, 0, 0, 0.85);

}
/* navigation background */
nav{
  background: transparent;
}

/* navbarf item class */
.nav-link {
  text-decoration: none;
  color: rgb(218, 216, 216);
}

/* aligining navbar items to the right */
.navbar-nav {
  /* border: 2px solid red; */
  margin-left: auto;
}

/* navbar toggler icon */
.navbar-toggler-icon {
  /* color: red; */
  background-color: transparent;
}
.card{
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.6), 0 3px 3px rgba(255, 255, 255, 0.6);      
}
#home{
  height: 80vh;
}










